header, footer{
    font-family:'Times New Roman', Times, serif; 
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    color: #f5f5f5;
    font-size: 20px;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right, #0d410f 0, #46a414 25%);
}
.navBT{
    margin-top: 500px;
}
.cor{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #0d410f 0, #46a414 25%);
}
.tamanho{
    margin-bottom: 0px;
    background-color: #F9F6F2;
} 
.espç{
    margin-left: 50px;
    font-size: 15px;
}
.ajuste{
    margin-bottom: 20px;
}
#bordap{
    border-radius: 50px;
    margin-top: 15px;
}
.bordanav{
    border: 0px;
    padding:0px;
}
.margin{
    margin-right: 25px;
}
h6{
    color:white;
}
p{
    font-size: 15px;
    text-align: justify;
    font-family:'Times New Roman', Times, serif; 
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #2aa52e;
}
.but{
    background:  #0d410f;
    font-weight: 15px;
    padding: 0.2rem 1rem;
    border-radius: 30px;
    border-color: #0d410f;
    color: white;
}
.but:hover{
    border-color:  #46a414 ;
}
.dividir{
    padding-top: 30px;   
}
.img-height{
    height: 20rem;
    width: 100rem;
}
card{
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}
.teste{
    position: absolute;
    bottom: 0px;
    margin-bottom: 5px;
}
.form{
    position: relative;
    background: #062108;
    border: 1px solid #000;
    width: 280px;
    padding: 10px 40px 60px;
    border-radius: 10px;
    text-align: center;
    margin: 100px auto 50px;
}
.form::before{
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: linear-gradient(315deg, #46a414,
    #0d410f);
    z-index: -1;
    transform: skew(2deg, 1deg);
    border-radius: 10px;
}
.form h2{
    color: #FFF;
    font-weight: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.form .input{
    margin-top: 40px;
    text-align: left;
}
.form .input .inputBox{
    margin-top: 5px;
    width: 150px;
}
.form .input .inputBox label{
    display: block;
    color: #FFF;
    margin-bottom: 5px;
    font-size: 15px;
    letter-spacing: 1px;
}
.form .input .inputBox input{
    position: relative;
    width: 130%;
    height: 40px;
    border: none;
    outline: none;
    padding: 5px 5px;
    background: linear-gradient(315deg, #46a414,
    #0d410f);
    color: #FFF;
    font-size: 15px;
    border-radius: 10px;
}
.form .input  .inputBox input[type='submit']{
    cursor: pointer;
    margin-top: 20px;
    letter-spacing: 1px;
}
.form .input  .inputBox input[type='submit']:hover{
    background: linear-gradient(315deg, #0d410f,
    #46a414);
}
.form .input  .inputBox input[type='submit']:active{
   color: rgba(255, 255, 255, 0.521); 
   background: linear-gradient(315deg, #2fe91e71,
   #276b138c);
}

.img-noticia{
    height: 30rem;
    width: 40rem;
}


.subtitulo{
    font-size: 25px
}

.corpo-noticia{

    font-size: 25px;
}