{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
<section class="container" style="width: 1200px; padding-bottom: 30px;">
  <div class="row">
{% for publicacao in buscas %}
<div class="col row-cols-1 row-cols-md-3 g-4" style="padding-bottom: 15px; padding-top: 30px;">
  <div class="card h-100 sombra" style="width: 18rem; height: auto;">
      <img src="/media/{{publicacao.imagem}}" class="card-img-top" alt="#">
      <div class="card-body">
      <p>{{publicacao.tempo_da_publicacao}}</p>
      <h3 class="fs-5">{{publicacao.titulo}}</h2>
        <p class="card-text">{{publicacao.descricao}}</p>
        <p class="teste">
        <a href="{% url 'detalhe' publicacao.id %}" class="cor-fonte">LEIA <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
      </a>
    </p>
      </div>
    </div>
</div>

{% endfor %}
</div>
</section>
<section class="container" style="width: 1200px; padding-bottom: 30px;">
  <div class="row">
{% for produto in busca_produto %}
<div class="col row-cols-1 row-cols-md-3 g-4" style="padding-bottom: 15px; padding-top: 30px;">
  <div class="card h-100 sombra" style="width: 15rem; height: auto;">
      <a href="{% url 'detalhe_produto' produto.id %}"><img src="/media/{{produto.imagem}}" class="card-img-top" alt="#"></a>
      <div class="card-body">
       <h3 class="fs-5"><b>{{produto.nome}}</b></h3>
        <p class="card-text">{{produto.categoria}}</p>
        <p class="card-text"> <b> R$ {{produto.valor}} </b></p>
        <button type="button" class="but" style="font-size: 10px; margin-bottom: 5px;"> Comprar </button> 
      </div>
    </div>
</div>

{% endfor %}
</div>
</section>

{% endblock conteudo %}