{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

<main>
    
    <div class="form">
        <h2>CADASTRO</h2>

        <div class="input">
            <form action="{% url 'cadastro' %}" method="POST">{% csrf_token %}
                <div class="inputBox">
                    <label for="">Nome de Usuário:</label>
                    <input type="text" placeholder="Username" name="username">
                </div>

                <div class="inputBox">
                    <label for="">Email:</label>
                    <input type="email" placeholder="Email" name="email">
                </div>

                <div class="inputBox">
                    <label for="">Senha:</label>
                    <input type="password"  placeholder="Senha" name="senha">
                </div>

                <div class="inputBox">
                    <input type="submit"    value="Cadastrar"> 
                </div>
            </form>
        </div>     
    </div>



</main>




{% endblock conteudo %}