{% extends 'base_cadastro.html' %}
{% load static %}

{% block conteudo %}

<main>
    <a  href="{% url 'index' %}"><img style="display: block; margin-left: auto; margin-right: auto; margin-top: 10px; width: 250px;" src="..\static\assets\img\logo_cadastro.png" alt=""></a>
    <div class="form" style="margin-top: 0px;">
        <h2>CADASTRO</h2>

        <div class="input">
            <form action="{% url 'cadastro' %}" method="POST">{% csrf_token %}
                <div class="inputBox">
                    <label for="">Nome de Usuário:</label>
                    <input type="text" placeholder="Username" name="username">
                </div>

                <div class="inputBox">
                    <label for="">Email:</label>
                    <input type="email" placeholder="Email" name="email">
                </div>

                <div class="inputBox">
                    <label for="">Senha:</label>
                    <input type="password"  placeholder="Senha" name="senha">
                </div>
                <p>
                    
                </p>
                {% if messages %}
                    {% for m in messages %}
                        <div class="alert alert-warning" role="alert">
                    {{ m }}
                    </div>
                    {% endfor %}
                {% endif %}

                <div class="inputBox">
                    <input type="submit"    value="Cadastrar"> 
                </div>
            </form>
        </div>     
    </div>



</main>




{% endblock conteudo %}