{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
<main>
<section class="dividir">   
  {% include 'includes/carrossel.html' %}
  </section>  

  

   <section>
   <h1 style="margin-top: 50px;" > {{publicacao.titulo}} </h1>
   <p class=" subtitulo "> {{publicacao.descricao}}</p><br>

   <h5>{{publicacao.autor}}</h5> 
   <p> {{publicacao.tempo_da_publicacao}} </p>

   <img class="img-noticia" src="/media/{{publicacao.imagem}}" >
   <!-- <p>Microrganismos presentes na folha da laranja poderão ser utilizados para degradar inseticidas — Foto: Fundecitrus/Divulgação</p> <br> -->

   <div class="corpo-noticia">{{publicacao.corpo_do_texto|safe}}</div>
   
   </section>
   <script>
    var cn = window.document.getElementsByClassName('corpo-noticia')
    cn.innerText = 'teste'
   </script>
<style>
</style>

</main>


{% endblock conteudo %}