{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

<main navBT>
<section class="dividir">
  <!--Carrossel -->
  {% include 'includes/carrossel.html' %}
     
<!-- adcionar for repetição post notícia-->

  <section class="container" style="width: 1200px; padding-bottom: 30px;">
    <div class="row">
        <h2 style="padding-top:20px ; padding-bottom:20px"><b> Notícias</b></h2>
        {% for publicacao in publicacoes %}
        <div class="col row-cols-1 row-cols-md-3 g-4" style="padding-bottom: 15px;">
            <div class="card h-100 sombra" style="width: 18rem; height: auto;">
                <img src="/media/{{publicacao.imagem}}" class="card-img-top" alt="#">
                <div class="card-body">
                <p>{{publicacao.tempo_da_publicacao}}</p>
                <h3 class="fs-5">{{publicacao.titulo}}</h2>
                  <p class="card-text">{{publicacao.descricao}}</p>
                  <p class="teste">
                  <a href="{% url 'detalhe' publicacao.id %}" class="cor-fonte">LEIA <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
                </a>
              </p>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>    
  </section>

  <section>
    <div class="anuncio-barra container-fluid" style="margin-bottom: 80px; margin-top: 100px;">
      <div class="row">
        <div class="col-8">
          <h1 class="text2anun" style="padding-top: 80px; margin-left: 120px;">
            Quer receber nosso conteúdo <br>em primeira mão?<br>
          </h1>
          <h2 class="id=barrah12" style="margin-left: 120px;">Assine a nossa newsletter agora mesmo para isso:</h2>
        </div>
        <form class="col-3" style="margin-top: 20px">
          <div class="mb-4">
            <label for="exampleInputEmail1" class="form-label">Nome</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Aceito receber emails frequentes</label>
          </div>
          <a href="{% url 'index' %}"><button type="button" class="but" style="font-size: 10px; margin-bottom: 5px;"> Assinar </button> </a>
        </form>
      </div>
    </div>
  </section>

  <section class="container" style="width: 1200px; padding-bottom: 30px;">
    <div class="row">
        <h2 style="padding-top:20px ; padding-bottom:20px"><b> Produtos em destaque</b></h2>
        {% for produto in produtos %}
        <div class="col row-cols-1 row-cols-md-3 g-4" style="padding-bottom: 15px;">
            <div class="card h-100 sombra" style="width: 15rem; height: auto;">
                <a href="{% url 'detalhe_produto' produto.id %}"><img src="/media/{{produto.imagem}}" class="card-img-top" style="margin-bottom: 25px;" alt="#"></a>
                <div class="card-body">
                <div class="teste">
                <h3 class="fs-5"><b>{{produto.nome}} </b> </h2>
                  <p class="card-text">{{produto.categoria}}</p>
                  <p class="card-text"> <b> R$ {{produto.valor}} </b></p>
                </div>
              </div>
              </div>
        </div>
        {% endfor %}
    </div>    
  </section>

</section>
<!-- <div id="carouselExampleInterval" class="container carousel slide" data-bs-ride="carousel">
  <div class="row carousel-inner">
    <div class="carousel-item active cards-wrapper" data-bs-interval="10000">
      {% for publicacao in publicacoes %}
      <div class="row-cols-1 row-cols-md-3 g-4 cards-wrapper" style="padding-bottom: 15px; display: flex;">
          <div class=" card h-100" style="width: 18rem; height: auto;">
              <img src="/media/{{publicacao.imagem}}" class="card-img-top" alt="#">
              <div class="card-body">
               <p>{{publicacao.tempo_da_publicacao}}</p>
               <h3 class="fs-5">{{publicacao.titulo}}</h2>
                <p class="card-text">{{publicacao.descricao}}</p>
                <p class="teste">
                 <a href="{% url 'detalhe' publicacao.id %}">LEIA <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
               </a>
             </p>
              </div>
            </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->

</main>
{% endblock conteudo %}
