{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

<main>
    
    <div class="form">
        <h2>Login</h2>

        <div class="input">
            <form action="{% url 'login' %}" method="POST">{% csrf_token %}
                <div class="inputBox">
                    <label for="">Nome de Usuário:</label>
                    <input type="text" placeholder="Username" name="username">
                </div>

                <div class="inputBox">
                    <label for="">Senha:</label>
                    <input type="password"  placeholder="Senha" name="senha">
                </div>
                <p>
                    
                </p>
                {% if messages %}
                    {% for m in messages %}
                        <div class="alert alert-warning" role="alert">
                    {{ m }}
                    </div>
                    {% endfor %}
                {% endif %}
                <a href="{% url 'alterar-senha' %}" class="reset">Esqueceu sua senha?</a>
                <div class="inputBox">
                    <input type="submit"    value="Logar"> 
                </div>
            </form>
        </div>     
    </div>

</main>


{% endblock conteudo %}