{% extends 'base.html' %}
{% load static %}


{% block conteudo %}

  </section>
  <section class="container" style="width: 1200px; padding-bottom: 30px;">
    <div class="row">
        <h2 style="padding-top:40px ; padding-bottom:20px">Produtos disponíveis</h2>
        {% for produto in produtos %}
        <div class="col row-cols-1 row-cols-md-3 g-4" style="padding-bottom: 15px;">
            <div class="card h-100 sombra" style="width: 15rem; height: auto;">
                <a href="{% url 'detalhe_produto' produto.id %}"><img src="/media/{{produto.imagem}}" class="card-img-top" style="margin-bottom: 65px;" alt="#"></a>
                <div class="card-body">
                  <div class="teste">
                 <h3 class="fs-5"><b>{{produto.nome}}</b></h3>
                  <p class="card-text">{{produto.categoria}}</p>
                  <p class="card-text"> <b> R$ {{produto.valor}} </b></p>
                  <a href="{% url 'detalhe_produto' produto.id %}"><button type="button" class="but" style="font-size: 10px; margin-bottom: 5px;"> Comprar </button></a>
                 </div>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>    
  </section>

{% endblock conteudo %}