{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

<section class="dividir">
  <!--Carrossel -->
  {% include 'includes/carrossel.html' %}

    <section class="container" style="width: 1200px; padding-bottom: 30px;">
      <div class="row">
          <h2 style="padding-top:20px ; padding-bottom:20px"><b> Publicações </b></h2> </div>

      <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for publicacao in publicacoes %}
          <main navBT>
            
            <div class="card mb-4" style="max-width: 540px; ">
              <div class="row g-0 " style="margin: 10px; align-self: center;">
                <div class="col-md-4">
                  <img src="/media/{{publicacao.imagem}}" class="img-fluid rounded-start" alt="..." style="margin-top: 10px; margin-right: 20px;"  >
                </div>
                <div class="col-sm-6">
                  <div class="card-body">
                    <h5 class="card-title">{{publicacao.titulo}}</h5> <br></div>
                </div>
                <p class="card-text" >{{publicacao.descricao}}</p>
                    <p class="card-text"><small class="text-muted">{{publicacao.tempo_da_publicacao}}</small></p>
                    <a href="{% url 'detalhe' publicacao.id %}" class="cor-fonte">LEIA <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                  </a>
              </div> 
            </div>  
          </main>
        {% endfor %}
      </div>

      </section>

{% endblock conteudo %}