{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

<section class="container col-lg-8">

    <h1 style="padding-top:20px;">Cadastrar produto</h1>

    <form action="{% url 'produto' %}" method="POST">{% csrf_token %}
        <div class="col input">

            <div class="row">
                <div class="col-lg-7 ajuste">
                    <!-- <p for="formFileSm" class="form-label">Nome</p> -->
                    <input type="text" class="form-control" placeholder="Nome" name="username" aria-label="">
                </div>
                <div class="col ajuste">
                <select class="form-select" aria-label=".form-select example">
                    <option selected>Selecione a categoria</option>
                    {% for categoria_produto in categoria_produtos %}
                    <option value="">{{categoria_produto.nome}}</option>
                    {% endfor %}
                </select>
                </div>
            </div>
            <div class="form-floating ajuste">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Descrição</label>
            </div>
            <div class="row">
                <div class="col-lg-7 ajuste">
                    <!-- <p for="formFileSm" class="form-label">Adicionar imagem do produto</p> -->
                    <input class="form-control" id="formFileSm" type="file">
                    <div class="invalid-feedback">Inválido</div>
                </div>
                <div class="col ajuste">
                    <input type="text" class="form-control" placeholder="Valor" name="valor" aria-label="">
                </div>
            </div>
        </div>
    </form>
</section>

{% endblock conteudo %}