{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

<main>
    
    <div class="form">
        <h2>Alterar Senha</h2>

        <div class="input">
            <form action="{% url 'resetarsenha' %}" method="POST">{% csrf_token %}
                <div class="inputBox">
                    <label for="">Nome de Usuário:</label>
                    <input type="text" placeholder="Username" name="username">
                </div>

                <div class="inputBox">
                    <label for="">Senha:</label>
                    <input type="password"  placeholder="Senha" name="novasenha">
                </div>
                <div class="inputBox">
                    <input type="submit"    value="Resetar Senha"> 
                </div>
            </form>
        </div>     
    </div>

</main>


{% endblock conteudo %}